<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="OWASP Halifax Website">
    <meta name="author" content="Lilly Chalupowski">
    <meta name="license" content="GPLv3">
    <title>{{ page.title }}</title>
    <link rel="icon" href={{ "/assets/img/favicon/favicon.ico" | relative_url }}>
    <link rel="stylesheet" href={{ "/assets/lib/bootstrap/css/bootstrap.min.css" | relative_url }} type="text/css" media="screen">
    <link rel="stylesheet" href={{ "/assets/lib/highlight.js/styles/monokai.css" | relative_url }}>
    <link rel="stylesheet" href={{ "/assets/lib/fullcalendar/fullcalendar.min.css" | relative_url }} type="text/css" media="screen">
    <link rel="stylesheet" href={{ "/assets/lib/qtip2/jquery.qtip.min.css" | relative_url }} type="text/css" media="screen">
    <link rel="stylesheet" href={{ "/assets/lib/theme/css/theme.css" | relative_url }} type="text/css" media="screen">
    {% if page.css %}
    <link rel="stylesheet" href={{ page.css | relative_url }} type="text/css" media="screen">
    {% endif %}
    <script type="text/javascript" src={{ "/assets/lib/jquery/jquery.min.js" | relative_url }}></script>
    <script type="text/javascript" src={{ "/assets/lib/popper.js/popper.min.js" | relative_url }}></script>
    <script type="text/javascript" src={{ "/assets/lib/bootstrap/js/bootstrap.min.js" | relative_url }}></script>
    <script type="text/javascript" src={{ "/assets/lib/qtip2/jquery.qtip.min.js" | relative_url }}></script>
    <script type="text/javascript" src={{ "/assets/lib/moment/moment.min.js" | relative_url }}></script>
    <script type="text/javascript" src={{ "/assets/lib/fullcalendar/fullcalendar.min.js" | relative_url }}></script>
    <script type="text/javascript" src={{ "/assets/lib/highlight.js/highlight.pack.js" | relative_url }}></script>
    <script type="text/javascript">hljs.initHighlightingOnLoad();</script>
    <script type="text/javascript" src={{ "/assets/lib/theme/js/theme.js" | relative_url }}></script>
  </head>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href={{ "/" | relative_url }}>
      <img style="max-width:50px;margin-top:-7px;" src={{ "/assets/img/logo.png" | relative_url }}>
      OWASP Halifax
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li id="nav-link-home" class="nav-item">
          <a class="nav-link" href={{ "/" | relative_url }}>Home<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Resources
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" target="_blank" href="https://www.meetup.com/OWASP-Halifax">Meetups</a>
            <a class="dropdown-item" target="_blank" href="https://owasphalifax.slack.com">Slack</a>
            <a class="dropdown-item" target="_blank" href="https://www.owasp.org/index.php/Halifax">Wiki</a>
            <a class="dropdown-item" href={{ "/pages/calendar" | relative_url }}>Calendar</a>
            <a class="dropdown-item" href={{ "/pages/slides" | relative_url }}>Slides</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="nav-link-contribute" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Contribute
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href={{ "/pages/donate" | relative_url }}>Donate</a>
            <a class="dropdown-item" href={{ "/pages/submit" | relative_url }}>Submit a Talk</a>
          </div>
        </li>
        <li id="nav-link-blog" class="nav-item">
          <a class="nav-link" href={{ "/pages/blog" | relative_url }}>Blog</a>
        </li>
        <li id="nav-link-contact" class="nav-item">
          <a class="nav-link" href={{ "/pages/contact" | relative_url }}>Contact</a>
        </li>
      </ul>
    </div>
  </nav>
  <body>
    <div role="main" class="container">
      {{ content }}
    </div>
  </body>
  {% if page.js %}
    <script type="text/javascript" src={{ page.js | relative_url }}></script>
  {% endif %}
</html>
